<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обзор книг</title>
    <link rel="stylesheet" href="../main/static/styles.css">
</head>
<body>
    <header>
        <!-- Аналогично главной странице -->
    </header>
    <main>
        <section>
            <h2>Обзор книг</h2>
            <!-- Здесь можно добавить список книг с описаниями и ссылками на страницы книг -->
        </section>
    </main>
    <footer>
        <!-- Аналогично главной странице -->
    </footer>
</body>
</html>
