<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти/Зарегистрироваться</title>
    <link rel="stylesheet" href="../main/static/styles.css">
</head>
<body>
    <header>
        <!-- Аналогично главной странице -->
    </header>
    <main>
        <section>
            <h2>Войти/Зарегистрироваться</h2>
            <!-- Здесь можно добавить формы для входа и регистрации -->
        </section>
    </main>
    <footer>
        <!-- Аналогично главной странице -->
    </footer>
</body>
</html>
